<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<!-- Footer Section Begin -->


<footer class="footer-section" th:fragment="footer">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <div class="logo">
                            <a href="#">
                                <img src="img/footer-logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Contact Us</h6>
                        <ul>
                            <li>(12) 345 67890</li>
                            <li>info@molveno.com</li>
                            <li>China, Zhejiang, Huzhou, Wuxing District, Tai Wu road 168</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->




<!--    <footer th:fragment="footer">-->
<!--        <div class="row">-->
<!--            <div class="w-50 mx-auto">-->
<!--                <p>&copy; 2020 Molveno</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->

</body>
</html>