<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

    <header th:fragment="header">
        <div class="row">
            <div class="w-50 mx-auto">
                <h1>Welcome Molveno</h1>
            </div>
        </div>
    </header>

    <!-- Header Section Begin -->
<!--    <header class="header-section header-normal">-->
<!--        <div class="top-nav">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-6">-->
<!--                        <ul class="tn-left">-->
<!--                            <li><i class="fa fa-phone"></i> <a href="./contact.html"> (12) 345 67890</a></li>-->
<!--                            <li><i class="fa fa-envelope"></i><a href="./contact.html">info@molveno.com</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="tn-right">-->
<!--                            &lt;!&ndash;                        <a href="#" class="bk-btn">Booking Now</a>&ndash;&gt;-->
<!--                            <div class="language-option">-->
<!--                                <img src="img/flag.jpg" alt="">-->
<!--                                <span>EN <i class="fa fa-angle-down"></i></span>-->
<!--                                <div class="flag-dropdown">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#">Cn</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="menu-item">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-2">-->
<!--                        <div class="logo">-->
<!--&lt;!&ndash;                            <a href="index.html">&ndash;&gt;-->
<!--&lt;!&ndash;                                <img src="img/logo.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                            <div class="col-lg-10">             &ndash;&gt;-->
<!--&lt;!&ndash;                        <head th:replace="fragments/head :: head"></head>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="nav-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                           <nav class="mainmenu">&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><a href="index.html">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    &lt;!&ndash;                                    <li class="active"><a href="./rooms.html">Rooms</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><a href="./about-us.html">About Us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><a href="#">Room details</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="./room-single.html">Single Room</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="./room-double.html">Double Room</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="./room-family.html">Family Room</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="./room-penthouse.html">Penthouse</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><a href="./contact.html">Contact</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            </nav>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
    <!-- Header End -->






</body>
</html>