<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

    <header th:fragment="header">
        <div class="row">
            <div class="w-50 mx-auto">
<!--                <h1>Welcome Molveno</h1>-->
            </div>
        </div>
    </header>

<!--     Header Section Begin -->
    <header class="header-section header-normal">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> <a href="./contact.html"> (12) 345 67890</a></li>
                            <li><i class="fa fa-envelope"></i><a href="./contact.html">info@molveno.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <!--                        <a href="#" class="bk-btn">Booking Now</a>-->
                            <div class="language-option">
                                <img src="img/flag.jpg" alt="">
                                <button id="language-toggle">EN</button>
<!--                                <span>EN <i class="fa fa-angle-down"></i></span>-->
<!--                                <div class="flag-dropdown">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#">Cn</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
<!--                            <div class="col-lg-10">             -->
<!--                        <head th:replace="fragments/head :: head"></head>-->
<!--                        <div class="nav-menu">-->
<!--                           <nav class="mainmenu">-->
<!--                                <ul>-->
<!--                                    <li><a href="index.html">Home</a></li>-->
<!--                                    &lt;!&ndash;                                    <li class="active"><a href="./rooms.html">Rooms</a></li>&ndash;&gt;-->
<!--                                    <li><a href="./about-us.html">About Us</a></li>-->
<!--                                    <li><a href="#">Room details</a>-->
<!--                                        <ul class="dropdown">-->
<!--                                            <li><a href="./room-single.html">Single Room</a></li>-->
<!--                                            <li><a href="./room-double.html">Double Room</a></li>-->
<!--                                            <li><a href="./room-family.html">Family Room</a></li>-->
<!--                                            <li><a href="./room-penthouse.html">Penthouse</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li><a href="./contact.html">Contact</a></li>-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->






</body>
</html>